<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Hello World thymelaf</h1>

<p><a th:href="@{/testServletAPI}">testServletAPI 使用ServletAPI向request域对象共享数据</a></p>
<p><a th:href="@{/testModelAndView}">testModelAndView 使用ModelAndView向request域对象共享数据</a></p>
<p><a th:href="@{/testModel}">testModel 使用Model向request域对象共享数据</a></p>
<p><a th:href="@{/testMap}">testMap 使用map向request域对象共享数据</a></p>
<p><a th:href="@{/testModelMap}">testModelMap 使用ModelMap向request域对象共享数据</a></p>
<p><a th:href="@{/testSession}">testSession 向session域共享数据</a></p>
<p><a th:href="@{/testApplication}">testApplication 向application域共享数据</a></p>

</body>
</html>